<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<!-- 테이블 컬럼명에서 _를 지우고 다음글자를 대문자로 자동 변환 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="kr.or.board.domain.BoardVO" alias="boardVO"/>
		<typeAlias type="kr.or.board.domain.PageCondDTO" alias="pagecondDTO"/>
		<typeAlias type="kr.or.board.domain.ReplyVO" alias="replyVO"/>
	</typeAliases>
</configuration>
