<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.board.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="boardVO">
		insert into tb_board(board_no, board_title, board_writer, board_content)
		values(seq_board.nextval, #{boardTitle}, #{boardWriter}, #{boardContent})
	</insert>
	
	<update id="updateBoard" parameterType="boardVO">
		update tb_board
		set
			board_title = #{boardTitle},
			board_writer = #{boardWriter},
			board_content = #{boardContent},
			board_update = sysdate
		where board_no = #{boardNo}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from tb_board
		where board_no = #{boardNo}
	</delete>
	
	<!-- resultMap => 1 : N 관계일때에 사용 -->
	<!-- ex) 한사람의 권한이 여러개일때 (ROLE_MEMBER, ROLE_ADMIN ...) -->
	<!-- reusltType => 테이블 컬럼명을 myubatisConfig에서 CamelCase 로 setting 해주었기 때문에 vo와 연결 -->
	<select id="selectBoard" parameterType="int" resultType="boardVO">
		select * from tb_board
		where board_no = #{boardNo}
	</select>
	
	<select id="selectBoardList" resultType="boardVO">
		select * from tb_board order by board_no desc
	</select>
	
	 <select id="selectBoardPage" parameterType="pagecondDTO" resultType="boardVO">
	   <![CDATA[
	      select  board_no,board_title,board_writer,board_content from
	       (select rownum as myrownum, board_no,board_title,board_writer,board_content from tb_board
	          where rownum <= #{pageNum} * #{pageSize})
	      where myrownum > (#{pageNum} -1) * #{pageSize}
	      order by board_no desc  
	   ]]>
   </select>
</mapper>